n8n/workflows/04-notificacoes.json
{
  "name": "QLMED - Notificações",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qlmed-notify",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.channel }}",
              "operation": "equal",
              "value2": "email"
            }
          ]
        }
      },
      "name": "Canal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@qlmed.com.br",
        "toEmail": "={{ $json.body.to }}",
        "subject": "={{ $json.body.subject }}",
        "text": "={{ $json.body.message }}"
      },
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [750, 200]
    },
    {
      "parameters": {},
      "name": "WhatsApp (configurar)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [750, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Canal?", "type": "main", "index": 0 }]]
    },
    "Canal?": {
      "main": [
        [{ "node": "Enviar Email", "type": "main", "index": 0 }],
        [{ "node": "WhatsApp (configurar)", "type": "main", "index": 0 }]
      ]
    }
  }
}
